body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app-container {
    text-align: center;
    width: 90%;
    max-width: 900px;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff0000;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.short-container {
    width: 100%;
    display: flex;
    margin-top: 20px;
    height: 420px;
}

#videoFrame {
    width: 60%;
    height: 100%;
    background: black;
}

#factBox {
    width: 40%;
    background: #1e1e1e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#factText {
    font-size: 20px;
    margin: 0;
    word-wrap: break-word;
}
