body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#short-container {
    width: 360px;
    height: 640px;
    background: #000;
    position: relative;
    overflow: hidden;
}

#shortVideo {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: opacity 0.7s;
}

#captions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#captionText {
    width: 90%;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
}

button {
    margin-top: 12px;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #00aaFF;
    color: white;
    cursor: pointer;
}
